{# <div class="select-items">


 {{ rows }}
</div>
 <div class="select-items">
    {{ rows }}
</div>

{{ dump(content) }} #}


{# ********* #}

  <section class="banner_status_slider">
    <div class="title-primary-sc mb-3">
      <h2>{{'What’s up in CFC?'|t }}</h2>
    </div>
    <div class="owl">
      <div class="owl-carousel owl-theme">

         {{ rows }}

      </div>
    </div>

  </section>
